{% extends "base.html" %}

{% block content %}
        <div style="padding: 20px 40px;">
            <button class="btn-add" onclick="createProject()">+ Create new project</button>

            <div class="project-grid">
                {% if projects %}
                    {% for project in projects %}
                        <div class="project-card">
                            <a href="/project/{{ project.id }}/tasks" class="project-title">{{ project.name }}</a>
                                <div style="margin-top: 10px; display: flex; gap: 5px;">
                                    <button class="btn-share" style="padding: 5px 10px; font-size: 12px;" 
                                    onclick="renameProject({{ project.id }}, '{{ project.name }}')">Rename</button>
            
                                    <button class="btn-delete" style="padding: 5px 10px; font-size: 12px;" 
                                    onclick="deleteProject({{ project.id }})">Delete</button>
                                </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="empty-state">There are no projects. Start by creating one.</p>
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block scripts %}
        <script>
            // logic for creating a new project
            async function createProject() {
                const name = prompt("Enter a name for the new project:");
                
                // shutting down if user does not fill name of project
                if (!name) return; 

                try {
                    const response = await fetch('/api/projects', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ name: name })
                    });
                    const data = await response.json();
                    if (response.ok) {
                        //window.location.reload(); 
                        window.location.href = `/project/${data.id}/tasks?token=${data.edit_token}`;
                    } else {
                        alert(data.error || "Encoutered error while creating this project.");
                    }
                } catch (err) {
                    console.error("Error:", err);
                }
            }

            //renaming project
            async function renameProject(id, oldName) {
                const newName = prompt("Enter new name of project:", oldName);
                
                if (!newName || newName.trim() === "" || newName === oldName) return;

                try {
                    const response = await fetch(`/api/projects/${id}`, {
                        method: 'PATCH',
                        headers: { 
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ name: newName.trim() })
                    });

                    if (response.ok) {
                        window.location.reload();
                    } else {
                        const data = await response.json();
                        alert(data.error || "An error occurred while renaming.");
                    }
                } catch (err) {
                    console.error("Error:", err);
                    alert("Error communicating with the server.");
                }
            }

            // Deleting project
            async function deleteProject(id) {
                if(!confirm("Deleting this project results in deleting its sources and tasks!")) return;

                try {
                    const response = await fetch(`/api/projects/${id}`, { method: 'DELETE' });
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert("Encoutered error while deleting this project.");
                    }
                } catch (err) {
                    console.error("Error:", err);
                }
            }
        </script>
{% endblock %}
