{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Employees list</h1>

        <div class="inline-form-row">
            <input type="text" id="emp-name" placeholder="Name (e.g. John Doe)">
            <input type="text" id="emp-role" placeholder="Role (e.g. Tester)">
            <input type="number" id="emp-cap" value="1">
            <button class="btn btn-add" onclick="addEmployee()">Add employee</button>
        </div>

    <div id="employees-table"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<script>
    const PROJECT_ID = {{ project.id }}; // id from Python
    let grid;

    const urlParams = new URLSearchParams(window.location.search);
    //const editToken = urlParams.get('token');
    const editToken = window.getEditToken();

    document.addEventListener("DOMContentLoaded", () => {
        if (!editToken) {
            const btnAdd = document.getElementById('btn-add');
            if (btnAdd) btnAdd.style.display = 'none';
        }
    });
    // Init of Grid.js table
    function initGrid() {
        grid = new gridjs.Grid({
            columns: [
                { id: 'id', name: 'ID', hidden: true },
                { id: 'name', name: 'Name' },
                { id: 'role', name: 'Role' },
                { id: 'capacity', name: 'Capacity (FTE)' },
                { 
                    id: 'action',
                    name: 'Action',
                    sort: false,
                    formatter: (cell, row) => {
                        return gridjs.html(`<button style="color:red; border:none; background:none; cursor:pointer; font-weight:bold; font-size: 16px;" onclick="deleteEmployee(${row.cells[0].data})">✖</button>`);
                    }
                }
            ],
            server: {
                url: `/api/employees/?project_id=${PROJECT_ID}`,
                then: data => data.map(emp => [emp.id, emp.name, emp.role, emp.capacity])
            },
            sort: true,
            search: true,
            language: { search: { placeholder: 'Search...' } }
        }).render(document.getElementById("employees-table"));
    }

    // Adding employee
    async function addEmployee() {
        const name = document.getElementById('emp-name').value;
        const role = document.getElementById('emp-role').value;
        const cap = document.getElementById('emp-cap').value;

        if (!name) return alert("Please enter at least a name!");

        const res = await fetch('/api/employees', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json',
                        //'X-Edit-Token': editToken || ''
                        'X-Edit-Token': window.getEditToken()
             },
            body: JSON.stringify({ project_id: PROJECT_ID, name: name, role: role, capacity: cap })
        });

        if (res.ok) {
            document.getElementById('emp-name').value = '';
            document.getElementById('emp-role').value = '';
            document.getElementById('emp-cap').value = '1';
            grid.forceRender();
        }
        else if (response.status === 403) {
                alert("You do not have administrator rights to this project.");
                return;
        }
        else {
            alert("Encoutered error while saving!");
        }
    }

    // deleting employee
    async function deleteEmployee(id) {
        if (!confirm("Are you sure you want to delete this person?")) return;
        
        const res = await fetch(`/api/employees/${id}`, { method: 'DELETE' , headers: { 'X-Edit-Token': window.getEditToken() } });
        if (res.ok) {
            grid.forceRender();
        } else {
            alert("Undable to delete.");
        }
    }

    // Running after loading
    initGrid();
</script>

{% endblock %}
