<form id="material-form">
    {% if not resources %}
        <p style="text-align: center; color: #666;">There are no materials or equipment in the project yet.</p>
    {% else %}
        {% for res in resources %}
            <div class="resource-row">
                <div>
                    <strong>{{ res.name }}</strong> <br>
                    <small style="color: #888;">{{ res.resource_type }} (Avalaible: {{ res.total_amount }} {{ res.units }})</small>
                </div>
                <div>
                    {% set current_qty = assignments.get(res.id, '') %}
                    
                    <input type="number" step="0.1" min="0" max="{{ res.total_amount }}" 
                           placeholder="0" name="mat_alloc_{{ res.id }}" 
                           value="{{ current_qty }}"> 
                    <span style="font-size: 12px; color: #666;">{{ res.units }}</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</form>