{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Resource list</h1>

        <div class="add-form">
            <input type="text" id="res-name" placeholder="Name (e.g. Testbench Alpha)" required style="flex: 2;">
        
        <select id="res-type" style="flex: 1.5;">
            <option value="Equipment">Equipment (Reusable)</option>
            <option value="Material">Material (Consumable)</option>
        </select>
        
        <input type="number" id="res-amount" placeholder="Amount" value="1" step="0.1" min="0" style="flex: 1;" title="Total available quantity">
        <input type="text" id="res-units" placeholder="Units (pcs, kg...)" value="pcs" style="flex: 1;">
        <input type="number" id="res-cost" placeholder="Price per unit" value="0" step="0.1" min="0" style="flex: 1;">
        
        <button class="btn-add" onclick="addResource()">Add to stock</button>
        </div>

    <div id="resources-table"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<script>
    const PROJECT_ID = {{ project.id }}; 
    let grid;

    const urlParams = new URLSearchParams(window.location.search);
    //const editToken = urlParams.get('token');
    const editToken = window.getEditToken();
    
    document.addEventListener("DOMContentLoaded", () => {
        if (!editToken) {
            const btnAdd = document.getElementById('btn-add');
            if (btnAdd) btnAdd.style.display = 'none';
        }
    });
    

    function initGrid() {
        grid = new gridjs.Grid({
            columns: [
                { id: 'id', name: 'ID', hidden: true },
                { id: 'name', name: 'Name' },
                { id: 'type', name: 'Type' },
                { id: 'amount', name: 'Available quantity' },
                { id: 'units', name: 'Units' },
                { id: 'cost', name: 'PPU' },
                { 
                    id: 'action',
                    name: 'Action',
                    sort: false,
                    formatter: (cell, row) => {
                        return gridjs.html(`<button style="color:red; border:none; background:none; cursor:pointer; font-weight:bold; font-size: 16px;" onclick="deleteResource(${row.cells[0].data})">✖</button>`);
                    }
                }
            ],
            server: {
                url: `/api/resources/?project_id=${PROJECT_ID}`,
                // Mapping data from Python
                then: data => data.map(r => [r.id, r.name, r.resource_type, r.total_amount, r.units, r.cost_per_unit])
            },
            sort: true,
            search: true,
            language: { search: { placeholder: 'Search for material...' } }
        }).render(document.getElementById("resources-table"));
    }

    async function addResource() {
        const name = document.getElementById('res-name').value;
        const type = document.getElementById('res-type').value;
        const amount = document.getElementById('res-amount').value;
        const units = document.getElementById('res-units').value;
        const cost = document.getElementById('res-cost').value;

        if (!name) return alert("Enter the name of the equipment/material!");

        const res = await fetch('/api/resources/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json',
                        //'X-Edit-Token': editToken || ''
                        'X-Edit-Token': window.getEditToken()
             },
            body: JSON.stringify({ 
                project_id: PROJECT_ID, 
                name: name, 
                resource_type: type, 
                total_amount: amount, 
                units: units,
                cost_per_unit: cost
            })
        });

        if (res.ok) {
            document.getElementById('res-name').value = '';
            document.getElementById('res-amount').value = '1';
            document.getElementById('res-cost').value = '0';
            grid.forceRender(); 
        } else if (res.status === 403) {
                alert("You do not have administrator rights to this project.");
                return;
        } else {
            alert("Error saving to database!");
        }
    }

    async function deleteResource(id) {
        if (!confirm("Are you sure you want to delete this?")) return;
        
        const res = await fetch(`/api/resources/${id}`, { method: 'DELETE' , headers: { 'X-Edit-Token': window.getEditToken() } }); 
        if (res.ok) {
            grid.forceRender();    
        } else if (res.status === 403) {
                alert("You do not have administrator rights to this project.");
                return;
        } else {
            alert("Failed to delete.");
        }
    }

    initGrid();
</script>

{% endblock %}
